# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [4]:
import pandas as pd
import numpy as np

In [5]:

kingdom = ['台北國','恆春國','花蓮國']
num = np.random.randint(9999999,size=3)
list_c = [kingdom,num]
print(list_c)
title = ['國家','人口']
combine = dict(zip(title,list_c))
print(combine)
frame = pd.DataFrame(combine)
frame.head()

[['台北國', '恆春國', '花蓮國'], array([9166885, 8431532, 3924496])]
{'國家': ['台北國', '恆春國', '花蓮國'], '人口': array([9166885, 8431532, 3924496])}

    國家       人口
0  台北國  9166885
1  恆春國  8431532
2  花蓮國  3924496

In [6]:
combine2 = dict(zip(kingdom,num))
mm = pd.Series(combine2)
mm.idxmax()

'台北國'